@charset "utf-8";
.tit {
	width:125px;
	font-size: 16px;
	color: #81BA46;
	margin-bottom:10px;
}
.parrafo {
	text-align: justify;
	font-size: 12px;
	color: #333;
	margin-bottom:10px;
}
.letraCapital {
	font-size: 20px;
	font-weight: bold;
	color: #81BA46;
}
.subtitulo {
	font-size: 14px;
	font-weight: bold;
	color: #81BA46;
}
.titNota {
	width:90%;
}
.col_izq {
	background-image: url(../img/fndBedgen.png);
	background-position: left bottom;
	background-repeat: no-repeat;
}
